.listQuestions,
.message {
  margin: 50px auto;
}

details > .questions {
  padding: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  content: "";
  font-size: clamp(20px, 5vw, 30px);
  font-weight: 600;
  color: var(--colorText);
  cursor: pointer;
  background-color: var(--colorFooter);
}

details > p {
  padding: 18px;
  font-size: clamp(12px, 5vw, 25px);
  text-align: justify;
  color: var(--colorBody);
  background-color: var(--colorText);
}

details i {
  font-size: clamp(30px, 5vw, 40px);
  transition: all 0.5s ease;
}

details[open] i {
  transform: rotate(90deg);
  transition: all 0.5s ease;
}

.message > p {
  margin: 15px 0;
  padding: 20px;
  font-size: clamp(20px, 5vw, 30px);
  text-align: justify;
  color: var(--colorText);
}

.containerButton {
  width: 80%;
  margin: auto;
  text-align: center;
}

.containerButton > .buttonInfo {
  padding: 20px;
  outline: none;
  border: none;
  font-size: clamp(18px, 5vw, 25px);
  border-radius: 15px;
  color: var(--colorText);
  background-color: var(--colorFooter);
  cursor: pointer;
}

.containerButton > .buttonInfo:hover {
  color: var(--colorFooter);
  background-color: var(--colorText);
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

@media only screen and (min-width: 600px) {
  .listQuestions,
  .message {
    max-width: 1200px;
    margin: 80px auto;
  }

  .containerButton {
    width: 30%;
    margin: 0 0 0 auto;
  }
}
