.containerProducts{
  width: 90%;
  margin: 1.5rem auto;
  padding: .5rem;
  background-color: var(--colorText);
}

.containerProducts .image {
  position: relative;
}

.containerProducts > .image > section{
  background-color: rgba(0, 0, 0, .5);
  height: 15rem;
}

.containerProducts .image img{
  width: 100%;
  height: inherit;
  opacity: .6;
  box-shadow: 0 18px 15px rgba(0, 0, 0, .6) ;
}

.text {
  padding: 0 1rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: justify;
  display: grid;
  place-items: center;
  font-size: 1.3rem;
  color: var(--colorGlobal);
}

.name{
  font-size: 1.5rem;
  margin: 1rem;
}
.price {
  padding: .5rem;
}

.price > section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h3{
  color: var(--colorGlobal);
  text-align: center;
}

.price .size{
  color: var(--colorGlobal);
  font-size: 1.2rem;
  font-weight: 200;
  margin: 1rem 0;
}

.price .buttonAdd{
  width: 8.2rem;
  background-color: var(--colorBody);
  outline: none;
  border: none;
  border-radius: .3rem;
  color: var(--colorText);
  font-size: 1.2rem;
  font-family: var(--fontPrincipal);
  box-shadow: 5px 8px 20px rgba(0, 0, 0, .5);
}
