.containerGlobal {
  display: flex;
}

.titlePrincipal {
  margin: 5rem 0 3rem 0 !important;
  text-align: center;
  color: var(--colorText);
  font-size: 2rem;
  line-height: 32px;
}

/* Filtros */
.filters {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.filters button {
  background-color: transparent;
  border: none;
  outline: none;
  margin: 10px 0;
}

.card {
  width: 200px;
  margin: 0 20px;
  position: relative;
  cursor: pointer;
}

.card > img {
  width: 100%;
  height: 100px;
  margin: auto;
  border-radius: 10px;
  object-fit: cover;
  opacity: 0.8;
  transition: all 0.5s;
  filter: blur(8px);
  transform: scale(0.9);
}

.card:hover img {
  transform: scale(1);
  transition: all 0.5s;
  filter: blur(0);
}

.link {
  text-decoration: none;
}

.card h2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: grid;
  place-items: center;
  text-align: center;
  font-size: 22px;
  color: var(--colorGlobal);
  letter-spacing: 2px;
  border: 3px solid var(--colorText);
  border-radius: 10px;
}

.card:hover h2 {
  font-weight: 700;
}

.card h2 > span {
  display: none;
}

/* Imagen y texto */
.containerProducts {
  width: 90%;
  margin: 24px auto;
  padding: 8px;
  background-color: var(--colorText);
}

.containerProducts > .image {
  position: relative;
}

.containerProducts > .image > section {
  background-color: rgba(0, 0, 0, 0.5);
  height: 15rem;
}

.containerProducts > .image img {
  width: 100%;
  height: inherit;
  object-fit: cover;
  opacity: 0.6;
  box-shadow: 0 18px 15px rgba(0, 0, 0, 0.6);
}

.text {
  padding: 0 16px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: justify;
  display: grid;
  place-items: center;
  font-size: clamp(18px, 4vw, 22px);
  color: var(--colorGlobal);
}

/* Nombre, tamaños y precios */
.name {
  font-size: clamp(24px, 5vw, 30px);
  margin: 16px;
}

.price {
  padding: 8px;
}

.price > section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h3 {
  color: var(--colorGlobal);
  text-align: center;
}

.price .size {
  color: var(--colorGlobal);
  font-size: clamp(18px, 3vw, 25px);
  font-weight: 200;
  margin: 16px 0;
}

.price .buttonAdd {
  width: 280px;
  display: inline-flex;
  align-items: center;
  border: 1px solid var(--colorGlobal);
  min-height: 50px;
  padding: 0 20px;
  text-transform: uppercase;
  z-index: 0;
  position: relative;
  background-color: var(--colorBody);
  outline: none;
  border: none;
  border-radius: 5px;
  color: var(--colorText);
  font-size: clamp(18px, 5vw, 25px);
  font-family: var(--fontPrincipal);
  box-shadow: 5px 8px 20px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .card {
    width: 250px;
  }

  .card > img {
    height: 80px;
  }

  .containerProducts {
    width: 42%;
  }

  .price .buttonAdd::before {
    content: "";
    background-color: var(--colorText);
    display: block;
    width: 45px;
    height: 1px;
    margin-right: 20px;
  }

  .price .buttonAdd::after {
    content: "";
    background-color: var(--colorNav);
    display: block;
    width: 0%;
    height: 100%;
    box-shadow: inset 2px 3px 10px rgba(0, 0, 0, 0.5);
    right: 0;
    top: 0;
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  .price .buttonAdd:hover {
    color: var(--colorBody);
    text-decoration: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  .price .buttonAdd:hover::after {
    width: 100%;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  .price .buttonAdd:hover::before {
    background-color: var(--colorBody);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  .price > section {
    width: 80%;
    margin: auto;
  }

  .card h2 > span {
    display: block;
  }
}
