header > .headerContainer {
  width: 100%;
  height: 3rem;
  background-color: var(--colorNav);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerContainer > .logo {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin-top: 5rem;
}

.iconNav {
  padding: 2px 5px;
  border-radius: 0.5rem;
  background-color: var(--colorText);
}

.iconNav .icon {
  font-size: 40px;
  color: var(--colorBody);
  cursor: pointer;
  display: grid;
  place-items: center;
}
