/* Footer */
footer > .containerFooter {
  width: 100%;
  margin: 64px 0 8px 0;
  padding: 48px 0 2px 0;
  border-radius: 16px;
  background-color: var(--colorFooter);
  position: relative;
}

.containerFooter img {
  width: 80px;
  height: 80px;
  margin: auto;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: -32px;
  left: 0;
  right: 0;
}

.titleFooter {
  padding: 25px 8px;
  font-size: clamp(18px, 5vw, 28px);
  font-weight: 300;
  text-align: center;
  color: var(--colorNav);
}

/* Footer direccion y redes sociales */
.socialMedia {
  text-align: center;
}

.socialMedia > .address > h5 {
  font-weight: 400;
  font-size: clamp(12px, 5vw, 22px);
}

.copy {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.copy > .icons > a {
  text-decoration: none;
  color: var(--colorGlobalFooter);
}

.copy > .icons i {
  font-size: clamp(35px, 5vw, 48px);
  margin: 16px;
}

.credits p {
  font-size: clamp(18px, 5vw, 25px);
}

@media only screen and (min-width: 480px) {
  /* Footer */
  footer > .containerFooter {
    width: 95%;
    margin: 50px auto;
  }
  .containerFooter img {
    width: 100px;
    height: 100px;
    top: -45px;
  }

  /* Footer direccion y redes sociales */
  .socialMedia > .address {
    padding: 10px 0;
  }

  .copy {
    padding: 30px 0;
    flex-direction: row;
    justify-content: space-around;
  }

  .icons a {
    cursor: default;
  }
  .icons i {
    cursor: pointer;
  }

  .copy > .icons > a > .facebook:hover,
  a:hover .facebook{
    color: #4267b2;
  }
  .copy > .icons > a > .instagram:hover,
  a:hover .instagram {
    color: #d9164a;
  }
  .copy > .icons > a > .whatsapp:hover,
  a:hover .whatsapp {
    color: #46c756;
  }
  .copy > .icons > a > .maps:hover,
  a:hover .maps {
    color: #dc6232;
  }

  .icons {
    position: relative;
  }

  .icons .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    color: var(--colorGlobal);
    padding: 5px 8px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .icons a:last-child .tooltip{
    width: 20%;
  }

  .icons .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: var(--colorGlobal);
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .icons a:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  a:first-child:hover .tooltip,
  a:first-child:hover .tooltip::before {
    background: #1877f2;
  }
  a:nth-child(2):hover .tooltip,
  a:nth-child(2):hover .tooltip::before {
    background: #d9164a;
  }
  a:nth-child(3):hover .tooltip,
  a:nth-child(3):hover .tooltip::before {
    background: #46c756;
  }
  a:last-child:hover .tooltip,
  a:last-child:hover .tooltip::before {
    background: #dc6232;
  }
}
